<launch>
  <arg name="simulated" />
  <param if="$(arg simulated)" name="use_sim_time" value="true" />

  <include file="$(find guiabot_mapping)/launch/build_map.launch" >
    <arg name="small_map" value="false" />
  </include>

  <remap from="/cmd_vel" to="/cmd_vel_suggested" />
  <include file="$(find guiabot_navigate)/launch/move_base.launch" >
    <arg name="allow_unknown" value="true" />
  </include>

  <!-- Clipping hack if required... -->
  <arg name="clip_dist" value="4.0" />
  <param if="$(eval bool(clip_dist))" name="/map_builder/maxUrange" value="$(arg clip_dist)" />
  <param if="$(eval bool(clip_dist))" name="/move_base/global_costmap/obstacle_layer/scan_laser/obstacle_range" value="$(arg clip_dist)" />
  <param if="$(eval bool(clip_dist))" name="/move_base/global_costmap/obstacle_layer/scan_laser/raytrace_range" value="$(arg clip_dist)" />
  <param if="$(eval bool(clip_dist))" name="/move_base/local_costmap/obstacle_layer/scan_laser/obstacle_range" value="$(arg clip_dist)" />
  <param if="$(eval bool(clip_dist))" name="/move_base/local_costmap/obstacle_layer/scan_laser/raytrace_range" value="$(arg clip_dist)" />
</launch>
